---
layout: page
title: "About"
header-img: "img/about-bg.jpg"
custom_js:
- about
---

<div role="tabpanel">
	<!-- Nav Tabs -->
	<ul class="nav nav-pills" role="tablist">
		<li role="presentation" class="active"><a href="#who-we-are" role="tab" data-toggle="pill">Who we are</a></li>
		<li role="presentation"><a href="#where-we-serve" role="tab" data-toggle="pill">Where we serve</a></li>
		<li role="presentation"><a href="#contacting-us" role="tab" data-toggle="pill">Contacting us</a></li>
		<li role="presentation"><a href="#how-you-can-help"  role="tab" data-toggle="pill">How you can help</a></li>
	</ul>

	<!-- Tab panes -->
	<div role="tab-content">
		<div role="tabpanel" class="tab-pane active" id="who-we-are"> 
			{% include_relative who-we-are.html %}
		</div>
		<div role="tabpanel" class="tab-pane hide-no-override" id="where-we-serve">
			{% include_relative where-we-serve.html %}
		</div>
		<div role="tabpanel" class="tab-pane hide-no-override" id="contacting-us"> 
			{% include_relative contacting-us.html %}
		</div>
		<div role="tabpanel" class="tab-pane hide-no-override" id="how-you-can-help">
			{% include_relative how-you-can-help.html %}
		</div>
	</div>
</div>
